<h1>All Cards</h1>
<div *ngIf="!form">
    <mat-card>
        <mat-card-content style="line-height: 30pt;">
            Front:
            <div>
                <input type="text" style="line-height: 30pt;" value="{{frontb}}" (keyup)="onKey($event, 'frontb')">
            </div>
            Back:
            <div>
                <input type="text" style="line-height: 30pt;" value="{{backb}}" (keyup)="onKey($event, 'backb')">
            </div>
        </mat-card-content>
    </mat-card>
    <button (click)="saveProfile($event)">Submit</button>
    <button (click)="closeForm()">Cancel</button>
</div>
<table *ngIf="cards.length > 0">
    <th>id</th>
    <th>front</th>
    <th>back</th>
    <th>delete</th>
    <th>update</th>
    <tr *ngFor="let c of cards; let i = index">
        <td>{{c.id}}</td>
        <td>{{c.front}}</td>
        <td>{{c.back}}</td>
        <td><button (click)="deleteCard(i)">delete</button></td>
        <td><button (click)="toggleForm(i)">update</button></td>
    </tr>
</table>
<p *ngIf="cards.length === 0">
    No cards
</p>