<button (click)="toggleForm()">Toggle Card Form</button>
<div *ngIf="!form">
    <mat-card>
        <mat-card-content style="line-height: 30pt;">
            Front:
            <div>
                <input type="text" style="line-height: 30pt;" value="{{fronta}}" (keyup)="onKey($event, 'fronta')">
            </div>
            Back:
            <div>
                <input type="text" style="line-height: 30pt;" value="{{backa}}" (keyup)="onKey($event, 'backa')">
            </div>
        </mat-card-content>
    </mat-card>
    <button (click)="saveProfile($event)">Submit</button>
</div>
<button (click)="toggleShow()">Toggle Card/Table</button>
<div *ngIf="show; else table">
    <app-card></app-card>

</div>

<ng-template #table>
    <div>
        <app-table></app-table>
    </div>
</ng-template>